.contenedor{
    display: grid;
    background-color: steelblue;
    grid-template-columns: repeat(4, auto);
    grid-template-rows: 200px 5rem 100px;
    grid-template-areas: 'head head head' 'main main aside' 'footer footer footer';
    gap: 0.5rem;
}

.item{
    background-color: orangered;
    font-size: 2rem;
    padding: 0.25rem;
    border: 1px solid black;
}

.item1{
    grid-column: 2/span 3;
}

.item2{
    /* grid-area: footer; */
    grid-area:1/2/2/4 ;
}